
.gridcontainer{
	width: 100%;
	max-width: 1200px;
}
.gridcontainer *{
	box-sizing: border-box;
}

.row{
	width: 100%;
}
.row::before,
.row::after{      /*清除浮动*/
	content:"";
	display: table;   
	clear:both;
}

[class*='col-']{          /*通配符， 标签类名里含有‘col-’的标签   类似的还有class^=和class$= 代表以以某字符开头或结尾的标签*/
	width:8.33%;
	float:left;
	min-height: 1px;   /*防止单元格内容为空元素*/
	padding:10px;
}

[class*='col-']>.cell{    
	height:50px;
	background: #eee;
	border:1px solid #999;
}

    .col-1{ width: 8.33%; }
    .col-2{ width: 16.66%; }
    .col-3{ width: 25%;    }
    .col-4{ width: 33.33%; }
    .col-5{ width: 41.66%; }
    .col-6{ width: 50%;   }
    .col-7{ width: 58.33%; }
    .col-8{ width: 66.66%; }
    .col-9{ width: 75%;    }
    .col-10{ width: 83.33%; }
    .col-11{ width: 91.66%; }
    .col-12{ width: 100%;   }
    
 
 @media only screen and (max-width: 768px) {    /*页面大小小于768px的情况*/
 	.col-small-1{ width: 8.33%; }
    .col-small-2{ width: 16.66%; }
    .col-small-3{ width: 25%;    }
    .col-small-4{ width: 33.33%; }
    .col-small-5{ width: 41.66%; }
    .col-small-6{ width: 50%;   }
    .col-small-7{ width: 58.33%; }
    .col-small-8{ width: 66.66%; }
    .col-small-9{ width: 75%;    }
    .col-small-10{ width: 83.33%; }
    .col-small-11{ width: 91.66%; }
    .col-small-12{ width: 100%;   }
 	
 }

